.container {
    width: 1440px;
    max-width: 100%;
    margin: 0 auto;
    padding: 2rem;
    
}

.container h3 {
    font-size: 1.4rem;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    text-transform: uppercase;
}

.container .btn {
    text-transform: uppercase;
    padding: 1rem 3rem;
    background: #fff;
    font-family: 'Alata', sans-serif;
    font-size: 1rem;
    border: 2px solid #000;
    display: none;
}

.container .btn:hover {
    color: #fff;
    background:#000;
    transition: all .3s;
}

@media screen and (min-width: 768px){
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .container h3 {
        text-align: left;
        font-size: 1.8rem;
    }

    .container .btn {
        display: block;
    }
}

